.input {
  padding: 7px 15px;
  color: var(--primary);
  border: none;
  outline-color: var(--primary);
  background: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  line-height: 1.37;
  font-family: var(--font-family);

  &::placeholder {
    color: var(--gray);
  }
}
