@import url("./reset.css");

html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  font-family:
    "Noto Sans",
    -apple-system,
    "Segoe UI",
    "Helvetica Neue",
    sans-serif;
  background-color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #333;
  --gray-light: #EBEBEB;
  --white: #FFF;
  --primary: #7653FC;
  --primary-hover: #6142DF;
  --red: #FC8360;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --font-family: "Noto Sans", -apple-system, "Segoe UI", "Helvetica Neue", sans-serif;
}
